In [5]:
bilangan_bulat = 10
bilangan_desimal = 3.14
teks = "Halo, dunia!"
teks_multibaris = '''Shindy dan Clairine'''
boolean = True

In [7]:
nama = "Shindy"
umur = 18

print('Nama:', nama, 'dan Umur:', umur)
print(f"Nama: {nama} dan Umur: {umur}")
print('\n')
print(teks_multibaris)

Nama: Shindy dan Umur: 18
Nama: Shindy dan Umur: 18


Shindy dan Clairine

In [9]:
nama = "Shindy"
a = 10; b = 8
kesibukan, keterangan = 'Berkuliah','Telkom University Surabaya'
print(f"Nama saya {nama} dan Umur saya adalah {a+b} Tahun dan sedang {kesibukan}, di {keterangan}")

Nama saya Shindy dan Umur saya adalah 18 Tahun dan sedang Berkuliah, di Telkom University Surabaya

In [1]:
#import library math
import math
math.sqrt(100)

10.0

In [ ]:
#input
a= int(input("masukkan nilai a: "))
b= int(input("masukkan nilai b: "))
c= int(input("masukkan nilai c: "))

#proses
x1= (-b + math.sqrt(b**2-4*a*c))/(2*a)
x2= (-b - math.sqrt(b**2-4*a*c))/(2*a)

print(x1, x2)

masukkan nilai a:  10
masukkan nilai b:  -1

In [1]:
a= int(input("nilai a: "))
b= int(input("nilai b: "))
c= int(input("nilai c: "))

rata_rata = a+b+c/3
print(rata_rata)

nilai a:  10
nilai b:  15
nilai c:  20

31.666666666666668

In [11]:
x= int(input("nilai x adalah: "))

f = (2*x)**3 + 2*x + 15/x
print(f)

nilai x adalah:  25

125050.6

In [13]:
import math

x1 = int(input("titik x1: "))
y1 = int(input("titik y1: "))
x2 = int(input("titik x2: "))
y2 = int(input("titik y2: "))

d = math.sqrt((((x2-x1))*2) + ((y2-y1)*2))
print(d)

titik x1:  15
titik y1:  25
titik x2:  30
titik y2:  46

8.48528137423857

In [15]:
x=int(input("Masukkan nilai x:"))

#Menghitung nilai fungsi f(x)
f_x=(2*x**3+2*x+(15/x))

print(f"Nilai f(x) untuk x={x} adalah {f_x}")

Masukkan nilai x: 50

Nilai f(x) untuk x=50 adalah 250100.3