In [5]:
pengulangan=5
for i in range(pengulangan):
    print("peruangan ke-", i)

peruangan ke- 0
peruangan ke- 1
peruangan ke- 2
peruangan ke- 3
peruangan ke- 4

In [17]:
n=5
x=[]
for i in range (n):
    x.append(int(input("Masukkan dari ")))
    print("x")

Masukkan dari  1

x

Masukkan dari  2

x

Masukkan dari  3

x

Masukkan dari  4

x

Masukkan dari  5

x

In [19]:
for i in range(1,5):
    print(i)
else:
    print("The for loop is over")
print("done!")

1
2
3
4
The for loop is over
done!

In [21]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [23]:
for i in "banana":
    print(i)

b
a
n
a
n
a

In [25]:
data_list=[1,3,8,10]
for i in data_list:
    print(i)

1
3
8
10

In [29]:
unggas=["Manda", "Aghna", "Luluk", "Clairine", "Shindy"]
for i in unggas:
    print(i)

Manda
Aghna
Luluk
Clairine
Shindy

In [33]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [41]:
jumlah = 0
for i in range(1,11):
    jumlah=jumlah+i
    print("Hasil penjumlahan dari angka 1 hingga 10 adalah: ",jumlah)

Hasil penjumlahan dari angka 1 hingga 10 adalah:  1
Hasil penjumlahan dari angka 1 hingga 10 adalah:  3
Hasil penjumlahan dari angka 1 hingga 10 adalah:  6
Hasil penjumlahan dari angka 1 hingga 10 adalah:  10
Hasil penjumlahan dari angka 1 hingga 10 adalah:  15
Hasil penjumlahan dari angka 1 hingga 10 adalah:  21
Hasil penjumlahan dari angka 1 hingga 10 adalah:  28
Hasil penjumlahan dari angka 1 hingga 10 adalah:  36
Hasil penjumlahan dari angka 1 hingga 10 adalah:  45
Hasil penjumlahan dari angka 1 hingga 10 adalah:  55

In [49]:
n= int(input("Masukkan jumlah data: "))
list_data=[float(input("masukkan data: ")) for _ in range (n)]
print("data kamu adalah ",list_data)

Masukkan jumlah data:  3
masukkan data:  4
masukkan data:  5.5
masukkan data:  4.3

data kamu adalah  [4.0, 5.5, 4.3]

In [53]:
list_data=[]
for i in range(5):
    list_data.append(float(input("masukkan data:")))
    print("data kamu adalah",list_data)

masukkan data: 3

data kamu adalah [3.0]

masukkan data: 5

data kamu adalah [3.0, 5.0]

masukkan data: 7

data kamu adalah [3.0, 5.0, 7.0]

masukkan data: 9

data kamu adalah [3.0, 5.0, 7.0, 9.0]

masukkan data: 2

data kamu adalah [3.0, 5.0, 7.0, 9.0, 2.0]

In [55]:
for i in range(1,3):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)
        print()
        print("Terima kasih!")

1 * 1 = 1

Terima kasih!
1 * 2 = 2

Terima kasih!
1 * 3 = 3

Terima kasih!
1 * 4 = 4

Terima kasih!
1 * 5 = 5

Terima kasih!
1 * 6 = 6

Terima kasih!
1 * 7 = 7

Terima kasih!
1 * 8 = 8

Terima kasih!
1 * 9 = 9

Terima kasih!
1 * 10 = 10

Terima kasih!
2 * 1 = 2

Terima kasih!
2 * 2 = 4

Terima kasih!
2 * 3 = 6

Terima kasih!
2 * 4 = 8

Terima kasih!
2 * 5 = 10

Terima kasih!
2 * 6 = 12

Terima kasih!
2 * 7 = 14

Terima kasih!
2 * 8 = 16

Terima kasih!
2 * 9 = 18

Terima kasih!
2 * 10 = 20

Terima kasih!

In [92]:
n=int(input("masukkan jumlah baris: "))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print(' ')

masukkan jumlah baris:  8

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [103]:
n=int(input("masukkan jumlah baris: "))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print(' ')

masukkan jumlah baris:  8

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8

In [107]:
jawab='ya'
hitung=0
while (True):
    hitung=hitung+1
    jawab=input('ulangi lagi tidak?')
    if jawab=='tidak':
        break
    print("total pengulangan: ",hitung)

ulangi lagi tidak? ya

total pengulangan:  1

ulangi lagi tidak? ya

total pengulangan:  2

ulangi lagi tidak? tidak

In [115]:
banyak_bilangan=(int(input("masukkan banyaknya bilangan: ")))
count=0
b1=0
b2=1

while count<banyak_bilangan:
    print(b1)
    sum=b1+b2
    b1=b2
    b2=sum
    count+=1

masukkan banyaknya bilangan:  7

0
1
1
2
3
5
8